plotly==4.14.3
xgboost==1.4.1
bt==0.2.9
pandas==1.2.3
matplotlib==3.3.4
pandas_datareader==0.9.0
yahoo_fin==0.8.8
requests==2.24.0
alpha_vantage==2.3.1
streamlit==0.80.0
numpy==1.19.5
scipy==1.6.1
#TA_Lib==0.4.19
mlxtend==0.18.0
yfinance==0.1.59
seaborn==0.11.1
mplfinance==0.12.7a17
tf_nightly
arch==4.19
beautifulsoup4==4.9.3
python_dateutil==2.8.1
scikit_learn==0.24.2
tensorflow==2.5.0
